.listQuiz-result{
    display: flex;
    flex-direction: column;
}

.result-item{
    min-width: 300px;
    padding: 18px 16px;
    background: var(--color-bg-white);
    display: flex;
    align-items: center;
    transition: all .25s ease-in-out;
}

.result-item:first-child{
    border-radius: var(--border-radius-block) var(--border-radius-block) 0 0;
    border-bottom: 1px solid var(--color-bg-darkWhite);
}
.result-item:last-child{
    border-radius: 0 0 var(--border-radius-block) var(--border-radius-block);
}

.titleQuiz-result{
    margin: 41px 0 58px;
}

.item-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: var(--color-bg-darkWhite);
    width: 36px;
    height: 36px;
    margin-right: 16px;
}

.item-icon > svg{
    width: 24px;
    height: 24px;
}

.item-text{
    margin-right: 52px;
    text-transform: uppercase;
    font-size: 16px;
    flex-grow: 1;
    text-align: start;
    font-weight: 400;
}

.item-counter-result{
    font-size: 16px;
    font-weight: 600;
}