.containerQuiz--footer{
    background: var(--color-bg-white);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 20px 0;
}

@media screen and (max-width: 767.7px){
    .containerQuiz--footer{
        margin: 0 20px 58px;
        background: var(--color-bg-darkWhite);
        width: calc(100% - 40px);
        padding: 0;
    }
}